.promo-banner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: #ff0000; /* Red background for high visibility */
  color: white;
  text-align: center;
  padding: 10px 5px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: var(--promo-banner-height); /* Use the global variable */
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.promo-text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.promo-text p {
  margin: 0;
  padding: 0;
}

.promo-details {
  font-size: 0.8rem;
  font-weight: normal;
}

.promo-countdown {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.promo-button {
  background-color: #ffffff;
  color: #ff0000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.promo-button:hover {
  background-color: #eeeeee;
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
  .promo-banner {
    flex-direction: row;
    justify-content: space-around;
  }

  .promo-text {
    margin-bottom: 0;
  }
  
  .promo-countdown {
    margin-bottom: 0;
  }
}
